*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: "Outfit", sans-serif;
}

:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Very-dark-blue_BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-LINE: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    --fw300 : 300;
    --fw400 : 400;
    --fw600 : 600;

    --br : 10px;
}

p{
    font-size: 18px;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-blue_BG);
    
}

.card-wrap{
    width: 250px;
    height: auto;
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: var(--br);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 1.75rem;
    -webkit-box-shadow: 0px 20px 42px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 42px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 42px -6px rgba(0,0,0,0.75);
}

.nft-container {
    position: relative;
    display: inline-block;
}

.nft-img {
    width: 100%; 
    height: auto; 
    transition: filter 0.3s ease;
    cursor: pointer;
}

.view-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;

}

.view {
    width: 50px; 
    height: 50px;
    cursor: pointer; 
}

.nft-container:hover .nft-img {
    filter: brightness(70%);
}

.nft-container:hover .view-box {
    opacity: 1;
}

.code{
    color: var(--White);
    transition: all ease 0.3s;
    cursor: pointer;
}

.code:hover{
    color: var(--Cyan);
}

.desc{
    color: var(--Soft-blue);
    font-weight: var(--fw300);
    font-size: 16px;
}

.txt-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt-wrap .eth-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.txt-wrap .eth{
    color: var(--Cyan);
}

.txt-wrap .time-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.txt-wrap .time{
    color: var(--Soft-blue);
    font-weight: var(--fw300);
    font-size: 16px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: var(--Very-dark-blue-LINE);
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.profile img{
    width: 20px;
    border: 1px solid var(--White);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.name{
    color: var(--Soft-blue);
    font-weight: var(--fw300);
    font-size: 16px;
}

.name span{
    color: white;
    transition: all ease 0.3s;
    cursor: pointer;
}

.name span:hover{
    color: var(--Cyan);
}

/* mobile design */

@media screen and (max-width : 760px) {
    .card-wrap{
        width: 90%;
        box-shadow: none;
    }
}